@font-face {
    font-family: font;
    src: url(/matter-regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: font;
}

.main {
    width: 100%;
    text-transform: capitalize;

}

.fixed {
    padding: 0 3vw;
    padding-top: 10vw;
    position: fixed;
    height: 80vh;
    width: 100%;
    display: flex;
    top: -100%;
    background-color: #fff;
}


.hosting-page {
    z-index: 10;
}

.about-page {
    z-index: 10;
}

.vps-page {
    z-index: 10;
}


.fixed h1 {
    font-size: 2vw;
    margin: 2vw 0vw;
    color: #118ae1;
}

.fixed h2 {
    font-size: 1.5vw;
    width: max-content;
    font-weight: 100;
    margin: 1.5vw 0vw;
    color: #767676;
    transition: ease-out .2s;
}

.fixed h3 {
    font-size: 2.5vw;
    font-weight: 100;
}

.fixed h4 {
    font-size: 1.3vw;
    font-weight: 100;
    color: #767676;
    margin: 2vw 0vw;
}

.fixed h2:hover {
    margin-left: 1.5vw;
    color: #61b3dc;
}

.left {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.left-right {
    width: 50%;
}

.right {
    width: 40%;
    padding-left: 10vw;
}

.right button {
    font-size: 1.1vw;
    margin: 0;
}

.nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
    background-color: #fff;
}

.nav img {
    width: 75%;
}

.nav-content {
    display: flex;
    align-items: center;

}

.nav-content a {
    text-decoration: none;
    color: rgb(27, 25, 25);
    font-size: 16px;
    padding: .8vw 1vw;
    border-radius: 5px;
}

.nav-content a:hover {
    background-color: #E7F7FF;
    color: #0435B2;
}

.nav-button {
    margin-left: 1vw;
}

button {
    padding: .8vw 1.2vw;
    border: none;
    margin-left: .5vw;
    border-radius: 10px;
    text-transform: capitalize;
}

button:hover {
    background-color: #119ce1;
    color: #fff;
}



.banner-main {
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #346AF5;
    z-index: 1;
    padding: 10vw;
}


.content-1 {
    font-size: 1.8vw;
    font-weight: 100;
    margin-bottom: 2vw;
}

.content-2 {
    font-size: 3vw;
    margin-bottom: 2vw;
}

.guarantee {
    font-size: 15px;
    margin-bottom: 3vw;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial;
}



.mil-img-div {
    display: flex;
    flex-wrap: wrap;
}


.mil-img-text {
    font-size: 20px;
    line-height: 1.4;
    padding-right: 28px;
    padding-left: 10px;
}

.banner-main-img {
    width: 40%;
    margin-left: 3vw;
}

.banner-body {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.footer-img {
    font-size: 15px;
    font-weight: 300;
}

.fire-text {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 400;
}

.banner-content {
    width: 55%;
}

.fire-img-text {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    font-family: 'Open Sans', Arial;
}

.outer-btn {
    margin-top: 60px;
}

.inner-btn {
    display: inline-block;
}

.btn-main {
    color: #002d69;
    padding: 15px 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    background-color: #1dffff;
    border-radius: 10px;
    display: inline-block;
}

.btn-footer {
    color: #fff;
    font-size: 13px;
    margin-top: 1vw;
}

.banner-img {
    height: 100%;
    width: 100%;
}

.review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vw  0;

}

.review-container h1{
    font-size: 3vw;
    color: #353535;
    margin-top: 3vw;
}

.review-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: #D4EBFF;
    gap: 1px;
}
.review-box span{
    padding: 40px 65px;
    background-color: #f4f9fb;
    text-align: center;
}

.review-box h2{
    font-size: 2vw;
    color: #545252;
    margin-bottom: 6px;
}

.review-box h4{
    font-size: 1.2vw;
    font-weight: 100;
    color: #3f7edc;
}

.review-page{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.review-cards{
    width: 25%;
    border: 1px solid rgba(137, 150, 157, 0.271);
    padding: 20px;
    border-radius: 20px;
}

.review-cards h4{
 margin-bottom: 15px;
}

.review-cards .review-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-middle{
    padding: 35px 0;
}

.review-cards p{
    color: #767676;
    font-weight: 100;
}

.review-bottom{
    padding-top: 15px;
    border-top: 1px solid rgba(137, 150, 157, 0.271);

}

.review-bottom h5{
    color: #767676;
    font-weight: 100;
}

.review-top img{
    width: 32%;
}



.hosting-plans{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 10vw;
}

.plans-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plans-cards{
    position: relative;
    width: 30%;
    height: 38vw;
    padding: 2vw;
    border: 1px solid rgba(17, 156, 225, 0.271);
    border-radius: 30px;
}

.plans-cards:hover{
    box-shadow: rgba(17, 156, 225, 0.271) 0px 5px 15px 0px;
    transition: all .2s linear;

}

.plans-cards h1{
    color: #118ae1;
    font-size: 25px;
    margin: 1.5vw 0;
}

.plans-cards h3{
    font-size: 18px;
    font-weight: 100;
    color: #767676;
    margin-bottom: 2vw;
}

.plans-cards p{
    position: relative;
    line-height: 30px;
    margin-left: 1vw;
}

.plans-cards p::before{
    content: " ";
    clip-path: polygon(0 0, 30% 50%, 0 100%, 50% 70%, 100% 100%, 70% 50%, 100% 0, 50% 30%);
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #118ae1;
    position: absolute;
    left:-5% ;
    top: 35%;
}

.plans-cards button{
    margin: 2vw 0;
    font-size: 16px;
    display: flex;
    position: absolute;
    bottom: 0%;
}



.bodywrap {
    width: 100%;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.plans-main h1{
    text-align: center;
    font-size: 3vw;
    color: #353535;
    margin-bottom: 8vw;
}

.plans-main {
    width: 100%;
    overflow-x: auto;
    padding-top: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.headers {
    display: contents;
}

.row {
    margin: 0;
    padding: 0;
    display: contents;
}


.header,
.data {
    font-size: max(1rem, min(.417799vw + .878641rem, 1.5rem));
    gap: .5rem;
    letter-spacing: -.01em;
    font-weight: 100;
    line-height: 1.2;
    min-width: 10rem;
    left: 0;
    justify-content: flex-start;
    padding: 2rem;
    display: flex;
    border-bottom: .0625rem solid#65B5E2;
}


.plan-table {
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    box-shadow: #767676;
    box-sizing: border-box;
}

tbody {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(5, 1fr);
}

.plan-table td,
.plan-table th {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    text-align: center;
}

.plan-table th:first-child,
.plan-table td:first-child {
    background-color: white;
    justify-content: flex-start;
    left: 0;
    min-width: 10rem;
    padding-left: 0;
    position: sticky;
    text-align: left;
}


table th:nth-child(2n),
table td:nth-child(2n) {
    background-color: #D5FAFF;
}

.money {
    font-size: 48px;
    margin-bottom: 1vw;
    line-height: .8;
    font-weight: 600;
}

.mo {
    font-size: 20px;
    margin: 0 3px;
    line-height: .8;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: lowercase;
}

.bnr {
    font-size: 17px;
    line-height: .8;
    margin-bottom: 1vw;
    text-align: center;
    color: #F9894A;
}

.atoc {
    display: block;
    font-size: 18px;
    font-weight: 100;
    padding: 13px 15px;
    color: #fff;
    transition: all .1s ease-in-out;
    background: #2569ce;
    border-radius: 10px;
}

.atoc:hover{
    background-color:#fff;
    color: #2569ce;
}

.page4{
    height: 90vh;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10vw;
}

.page4-left{
    width: 50%;
}

.page4 h1{
    font-size: 3vw;
    margin-bottom: 2vw;
    color: rgb(49, 48, 48);
}

.page4 h3{
    margin-bottom: 3vw;
    line-height: 25px;
    font-weight: 100;
    color: #767676;
}

.percentage{
    display: flex;
    align-items: center;

}

.percentage span{
    font-size: 2.5vw;
    font-weight: bold;
    color: #346AF5;
}

.percentage p{
     border-left:  1px solid black;
     padding-left: 1vw;
     margin-left: 1vw;
     color: #767676;
}

.page4-right{
    padding-left: 10vw;
}

.page5{
    min-height: 70vh;
    width: 100%;
}

.page5-top{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vw;
    padding:  0;
}

.page5-right{
    width: 35%;
}

.page5 h1{
    font-size: 45px;
    margin-bottom: 1vw;
}

.page5 h3{
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    color: #767676;
}

.page5-bottom{
    display: flex;
    justify-content: space-between;
    padding: 8vw 13vw;
}


.page5-cards{
    width: 30%;
    padding: 2vw;
    border: 1px solid rgba(17, 156, 225, 0.271);
    border-radius: 20px;
}

.page5-cards h2{
    margin-bottom: 1.5vw;
    color: #119ce1;
}

.page5-cards p{
    line-height: 22px;
    color: #767676;
    font-size: 17px;
}

.page5-cards:hover{
    box-shadow: rgba(17, 156, 225, 0.271) 0px 5px 15px 0px;
    transition: all .2s linear;
}

.page5-contact{
    text-align: center;
    padding: 0vw;
}

.page5-contact button{
    margin-top: 2.5vw;
    font-size: 18px;
    text-transform: initial;
    border-radius: 100px;
    padding: 1vw 1.5vw ;
}

.page6{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page6-left{
    width: 30%;
    margin-right: 5vw;
}

.page6-left h1{
    font-size: 2.8vw;
    margin-bottom: 5vh;
}

.page6-left h3{
    color: #767676;
    font-weight: 100;
    line-height: 26px;
}

.page7{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 10vw;
}

.page7-cards{
    width: 25%;
    height: 45vh;
    border: 1px solid rgba(137, 150, 157, 0.271);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px ;
    border-radius: 10px;
    padding-bottom: 30px;
}

.page7-cards:hover{
    box-shadow: rgba(137, 150, 157, 0.271) 0px 5px 15px 0px;
    transition: all .2s linear;
}


.page7-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    text-align: center;
}

.page7-box h3{
    color: #353535;
}

.page7-box h4{
    color: #767676;
    font-weight: 100;
}

.page7 h1{
    font-size: 40px;
    margin-bottom: 30px;
    width: 50%;
    text-align: center;
}

.page7 p{
    width: 65%;
    font-size: 1.2vw;
    margin-bottom: 3vw;
    line-height: 2vw;
    text-align: center;
}

.partners-text{
    padding-left: 11vw;
    width: 50%;
    margin-bottom: 8vw;
}

.partners-text h1{
    font-size: 3vw;
    margin-bottom: 2vw;
}
.partners-text h3{
    color:#767676;
    font-weight: 100;
}

.loop{
    white-space: nowrap;
    overflow-x: auto;
    pointer-events: none;
}
.loop::-webkit-scrollbar{
    display: none;
}

.loop img{
    width: 8%;
    display: inline-block;
    margin-left: 8vw;
    filter: grayscale();
}

.moving-text{
    white-space: nowrap;
    display: flex;
    align-items: center;
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-225%);
    }

}



.stories-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    padding: 10vw 0 ;
}

.swiper-slide img{
    width: 100%;
    border-radius: 14px;
}



.swiper-slide h3{
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
    color: #353535;
    margin: 2vw;
}

.swiper-slide a{
    text-decoration: none;
    margin: 2vw;
    color: #118ae1 ;

}

.swiper {
    width: 100%;
  }

  .swiper-slide {
    border: 1px solid #65B5E2;
    border-radius: 15px;
    padding-bottom: 2vw;
  }


.stories-page button{
    font-size: 16px;
    padding: 1vw 1.4vw;
    margin-top: 5vw;
} 

.stories-page h1{
    font-size: 3vw;
    color: #353535;
}

.stories-page p{
    color: #767676;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .2px;
    word-spacing: 1.5px;
    text-align: center;
    margin-bottom: 8vw;
    width: 75%;
}

