@font-face {
    font-family: font;
    src: url(/matter-regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: font;
}

.main{
    width: 100%;
   
}

.nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 2vw;
}

.nav img{
    width: 80%;
}

.nav-content{
    display: flex;
    align-items: center;

}
.nav-content a{
    text-decoration: none;
    color: rgb(27, 25, 25);
    font-size: 16px;
    padding: .8vw 1vw;
    border-radius: 5px;
}

.nav-content a:hover{
    background-color: #E7F7FF;
    color: #0435B2;
}

.nav-button{
    margin-left: 1vw;
}

button{
    padding: .8vw 1.2vw;
    border: none;
    margin-left: .5vw;
    border-radius: 10px;
}

button:hover{
    background-color:#119ce1 ;
    color: #fff;
}